@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i&display=swap');

$font-family: raleway;
$font-size: 3vw;

$primary-color: #888;
$secondary-color: $primary-color / 2;
$label-color: #C8DECF;

$red: #917574;
$black: #111;
$white: #fff;
$pink: #DEC8C8;
$green: #74917D;
$grey: $primary-color;
$light-green: #C8DECF;
$light-grey: #ccc;
$special-grey: #e3e3e3;

$gutter-lg: 5vw;
$gutter-sm: 2vw;

$border-radius: 3px;

$btn-trans: 350ms all;