body, html {
    height:100%;
}

body {
    display:flex;
    flex-direction:column;

    #root {
        display:flex;
        flex:1;
    }
}
main {
    display:flex;
    flex-direction:column;
    flex:1;
}

section {
    align-items: baseline;
    display:flex;
    flex-direction:row;
    justify-content: space-around;

    form {
        margin: 1em;

        label {
            display:block;
            margin: .5em 0;
            span { 
                display:block; 
            }
        }
    }
}